$primary: #222;
$background: #efefef;
$gradient: linear-gradient(to right, #c9a9e5, #442f7a);

$font-size-sm: 1rem; // 16px
$font-size-md: 1.5rem; // 24px
$font-size-lg: 2rem; // 32px
$font-size-xl: 3.5rem; // 40px

$font-weight-light: 300; // Light
$font-weight-bold: 700; // Bold

$border-radious: 25px;
$grid-gap: 5px;
$component-margin: 5px;

@mixin text-gradient {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin flex-centered(
  $flex: flex,
  $flex-direction: column,
  $justify-content: space-around,
  $align-items: center,
  $text-align: center
) {
  display: $flex;
  flex-direction: $flex-direction;

  @if $justify-content != space-around {
    justify-content: $justify-content;
  } @else {
    justify-content: space-around;
  }

  align-items: $align-items;
  text-align: $text-align;
}

@mixin img {
  max-height: 100px;
  margin-bottom: 10px;
}

@mixin grid-item(
  $column-start: 1,
  $column-span: 1,
  $row-span: auto,
  $height: auto,
  $margin-top: 0
) {
  grid-column: $column-start / span $column-span;

  @if $row-span != auto {
    grid-row: span $row-span;
  }

  @if $height != auto {
    height: $height;
  }

  @if $margin-top != 0 {
    margin-top: $margin-top;
  }
}

:root {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

p {
  font-weight: $font-weight-light;
  margin: 0;
}

.grid__item-text--sm {
  font-size: $font-size-sm;
}

.grid__item-text--md {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
}

.grid__item-text--lg {
  @include text-gradient;
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
}

.grid__item-text--xl {
  @include text-gradient;
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: $grid-gap;
  width: auto;
  min-height: 100vh;
  margin: $component-margin;
}

.grid__item {
  background: $background;
  border-radius: $border-radious;
  @include flex-centered;
  height: 190px;
}

.grid__item-img {
  @include img;
}

.grid__item-img--hero {
  max-width: 100%;
  max-height: 100%;
}

.grid__item--1 {
  @include grid-item(1, 1);
}

.grid__item--2 {
  @include grid-item(2, 1);
}

.grid__item--3 {
  @include grid-item(3, 1);
}

.grid__item--4 {
  @include grid-item(4, 2);
}

.grid__item--5 {
  @include grid-item(6, 2);
}

.grid__item--center {
  @include flex-centered(
    $flex: flex,
    $flex-direction: column,
    $justify-content: center,
    $align-items: center,
    $text-align: center
  );
}

.grid__item--justify {
  @include flex-centered(
    $flex: flex,
    $flex-direction: column,
    $justify-content: center,
    $align-items: center,
    $text-align: center
  );
}

.grid__item--justify > p {
  margin-bottom: 5px;
}

.grid__item--6 {
  @include grid-item(1, 2, 2, calc(190px * 1.5));
}

.grid__item--7 {
  @include grid-item(3, 3, 3, calc(190px * 2.5 + 5px));
}

.grid__item--8 {
  @include grid-item(6, 1, 2, calc(190px * 2 + 5px));
}

.grid__item-img--aside {
  max-height: 150px;
  margin-bottom: 40px;
}

.grid__item--9 {
  @include grid-item(7, 1, 2, calc(190px * 2 + 5px));
}

.grid__item--10 {
  @include grid-item(1, 1, 1, 190px, -100px);
}

.grid__item--11 {
  @include grid-item(2, 1, 1, 190px, -100px);
}

.grid__item--12 {
  @include grid-item(1, 2, 1, calc(190px * 0.5), -100px);
}

.grid__item--13 {
  @include grid-item(3, 3, 1, calc(190px * 0.5), -100px);
}

.grid__item--14 {
  @include grid-item(6, 2, 2, 190px, -195px);
}
