:root {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

p {
  font-weight: 300;
  margin: 0;
}

.grid__item-text--sm {
  font-size: 1rem;
}

.grid__item-text--md {
  font-size: 1.5rem;
  font-weight: 700;
}

.grid__item-text--lg {
  background: linear-gradient(to right, #c9a9e5, #442f7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 2rem;
}

.grid__item-text--xl {
  background: linear-gradient(to right, #c9a9e5, #442f7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 3.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.31rem;
  width: auto;
  min-height: 100vh;
  margin: 0.32rem;
}

.grid__item {
  background: #efefef;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 11.9rem;
}

.grid__item-new {
  justify-content: flex-end;
}

.grid__item-text--grow {
  flex-grow: 0.25;
}

.grid__item-text--grow1 {
  flex-grow: 0.11;
}

.grid__item--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid__item-img {
  max-height: 6.25rem;
  margin-bottom: 0.62rem;
}

.grid__item-img--hero {
  max-width: 200%;
  max-height: 100%;
}

.grid__item-img--aside {
  max-height: 9.4rem;
  margin-bottom: 2.5rem;
}

.grid__item--1 {
  grid-column: 1/span 1;
}

.grid__item--2 {
  grid-column: 2/span 1;
}

.grid__item--3 {
  grid-column: 3/span 1;
}

.grid__item--4 {
  grid-column: 4/span 2;
}

.grid__item--5 {
  grid-column: 6/span 2;
}

.grid__item--6 {
  grid-column: 1/span 2;
  grid-row: span 2;
  height: 17.85rem;
}

.grid__item--7 {
  grid-column: 3/span 3;
  grid-row: span 3;
  height: 30.06rem;
}

.grid__item--8 {
  grid-column: 6/span 1;
  grid-row: span 2;
  height: 24.11rem;
}

.grid__item--9 {
  grid-column: 7/span 1;
  grid-row: span 2;
  height: 24.11rem;
}

.grid__item--10 {
  grid-column: 1/span 1;
  grid-row: span 1;
  height: 11.9rem;
  margin-top: -100px;
}

.grid__item--11 {
  grid-column: 2/span 1;
  grid-row: span 1;
  height: 11.9rem;
  margin-top: -100px;
}

.grid__item--12 {
  grid-column: 1/span 2;
  grid-row: span 1;
  height: 5.95rem;
  margin-top: -100px;
}

.grid__item--13 {
  grid-column: 3/span 3;
  grid-row: span 1;
  height: 5.95rem;
  margin-top: -100px;
}

.grid__item--14 {
  grid-column: 6/span 2;
  grid-row: span 2;
  height: 11.9rem;
  margin-top: -195px;
}

@media (max-width: 430px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
  /*

    @mixin grid-item(
    $column-start: 1,
    $column-span: 1,
    $row-span: auto,
    $height: auto,
    $margin-top: 0
  ) {
    grid-column: $column-start / span $column-span;

    @if $row-span != auto {
      grid-row: span $row-span;
    }

    @if $height != auto {
      height: $height;
    }

    @if $margin-top != 0 {
      margin-top: $margin-top;
    }
  }*/
  .grid__item--1 {
    grid-column: 1/span 1;
  }
  .grid__item--2 {
    grid-column: 1/span 1;
  }
  .grid__item--3 {
    grid-column: 1/span 1;
  }
  .grid__item--4 {
    grid-column: 1/span 1;
    grid-row: span 2;
    height: 23.8rem;
  }
  .grid__item--5 {
    grid-column: 1/span 1;
    grid-row: span 2;
    height: 23.8rem;
  }
  .grid__item--6 {
    grid-column: 1/span 1;
    grid-row: span 2;
    height: 23.8rem;
  }
  .grid__item--7 {
    grid-column: 1/span 1;
    grid-row: span 3;
    height: 36.01rem;
  }
  .grid__item--8 {
    grid-column: 1/span 1;
    grid-row: span 2;
    height: 24.11rem;
  }
  .grid__item--9 {
    grid-column: 1/span 1;
    grid-row: span 2;
    height: 24.11rem;
  }
  .grid__item--10 {
    grid-column: 1/span 1;
  }
  .grid__item--11 {
    grid-column: 1/span 1;
  }
  .grid__item--12 {
    grid-column: 1/span 1;
    grid-row: span 2;
    height: 23.8rem;
  }
  .grid__item--13 {
    grid-column: 1/span 1;
    grid-row: span 2;
    height: 23.8rem;
  }
  .grid__item--14 {
    grid-column: 1/span 1;
    grid-row: span 2;
    height: 23.8rem;
  }
}/*# sourceMappingURL=styles.css.map */